body {
	background-color: #f3f3f3;
	margin-left: 5%;
	margin-right: 5%;
	line-height: 130%;
	font-size: 110%;
}

.pre {
	white-space: pre-wrap;
}

.left {
	display: inline;
	float: left;
	margin: 5px 10px 0pt 0pt;
}

.right {
	display: inline;
	float: right;
	margin: 5px 10px;
} 
